{% extends "client/base.html" %}

{% block content %}

<section data-bs-version="5.1" class="features6 cid-sXTmOgU3Ke" id="afeatures6-2">


    <div class="container">
        <div class="row justify-content-center">

            <div class="col-12 col-lg-6 col-md-7 col-text">
                <div class="text-wrapper">
                    <h1 class="mbr-section-title mbr-fonts-style display-5"><strong>Prenotazione di un appuntamento</strong></h1>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}