{% extends "client/base.html" %}

{% block style %}
    <style>
        .selected {
            border: solid;
            color: green;
        }
    </style>

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

{% endblock %}

{% block content %}

    <section data-bs-version="5.1" class="features6 cid-sXTmOgU3Ke" id="afeatures6-2">


        <div class="container">
            <div class="row justify-content-center">

                <div class="col-12 col-lg-12 col-md-7 col-text">
                    <div class="text-wrapper">
                        <h1 class="mbr-section-title mbr-fonts-style display-5 mb-5"><strong>Prenotazione di un
                            appuntamento</strong></h1>

                        <!-- SmartWizard html -->
                        <div id="smartwizard" dir="" class="sw sw-theme-arrows">
                            <ul class="nav nav-progress">
                                <li class="nav-item">
                                    <a class="nav-link default active" href="#step-1">
                                        <div class="num">1</div>
                                        Accesso
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link default" href="#step-2">
                                        <span class="num">2</span>
                                        Scelta del servizio
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link default" href="#step-3">
                                        <span class="num">3</span>
                                        Scelta dell'orario
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link default" href="#step-4">
                                        <span class="num">4</span>
                                        Conferma
                                    </a>
                                </li>
                            </ul>

                            <div class="tab-content" style="height: 187.188px;">

                                <div id="step-1" class="tab-pane" role="tabpanel" aria-labelledby="step-1"
                                     style="position: static; left: 0px; display: block;">
                                    <div class="container">
                                        <form>
                                            <div class="form-group">
                                                <label for="email">Indirizzo e-mail</label>
                                                <input type="email" class="form-control" id="email" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="password">Password</label>
                                                <input type="password" class="form-control" id="password" required>
                                            </div>

                                            <a class="btn btn-primary" id="login" href="javascript:void(0)">
                                                Accedi
                                            </a>
                                        </form>
                                        <div id="success-alert" class="alert alert-success" role="alert"
                                             style="display: none;">
                                            Accesso riuscito
                                        </div>
                                    </div>
                                </div>

                                <div id="step-2" class="tab-pane" role="tabpanel" aria-labelledby="step-2"
                                     style="position: static; left: 0px; display: none;">
                                    <div class="table-responsive">
                                        <table class="table align-items-center mb-0">
                                            <thead>
                                            <tr>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for service in services %}
                                                <tr id="{{ service.id }}" class="clickable">
                                                    <td>
                                                        <div class="d-flex px-2 py-1">
                                                            <div>
                                                                <img src="https://png.pngtree.com/png-clipart/20200225/original/pngtree-customer-service-icon-png-image_5257338.jpg"
                                                                     class="avatar avatar-sm me-3"
                                                                     alt="avatar image" style=" width: 50px;">
                                                            </div>
                                                            <div class="d-flex flex-column justify-content-center">
                                                                <h6 class="mb-2 font-weight-normal text-sm">{{ service.name }}</h6>
                                                                <p class="text-sm font-weight-normal mb-0">{{ service.duration }}
                                                                    minuti</p>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <span class="mbr-iconfont mbri-cursor-click mobi-mbri"></span>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div id="step-3" class="tab-pane" role="tabpanel" aria-labelledby="step-3"
                                     style="position: static; left: 0px; display: none;">
                                    <div class="row" style="margin-top:20px">
                                        <div class="col-xs-12 col-md-3">
                                            <div id="datepicker"></div>
                                        </div>


                                        <div class="col-xs-12 col-md-9">
                                            <div class="row" id="resAvailable" style="margin-top:20px">
                                                <div class="col-md-12" style="margin-bottom:20px">Orari disponibili:
                                                </div>
                                                <div class="col-xs-6 col-md-3">
                                                    <div class="reservation-item" data-reservation-hours-ind="0">
                                                        <div class="reservation-item-hours">09:00 - 10:00</div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6 col-md-3">
                                                    <div class="reservation-item" data-reservation-hours-ind="1">
                                                        <div class="reservation-item-hours">10:00 - 11:00</div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6 col-md-3">
                                                    <div class="reservation-item" data-reservation-hours-ind="2">
                                                        <div class="reservation-item-hours">11:00 - 12:00</div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6 col-md-3">
                                                    <div class="reservation-item" data-reservation-hours-ind="3">
                                                        <div class="reservation-item-hours">12:00 - 13:00</div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6 col-md-3">
                                                    <div class="reservation-item" data-reservation-hours-ind="4">
                                                        <div class="reservation-item-hours">14:00 - 15:00</div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6 col-md-3">
                                                    <div class="reservation-item" data-reservation-hours-ind="5">
                                                        <div class="reservation-item-hours">15:00 - 16:00</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="step-4" class="tab-pane" role="tabpanel" aria-labelledby="step-4"
                                     style="position: static; left: 0px; display: none;">
                                    <h3>Step 4 Content</h3>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem

                                </div>
                            </div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block scripts %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.it.min.js"></script>

    <script>

        $('#datepicker').datepicker({
            format: 'dd/mm/yyyy',
            startDate: '-2d',
            updateViewDate: false,
            autoclose: true,
            title: "Seleziona una data",
            language: "it",
            daysOfWeekDisabled: "0,6",
            todayHighlight: true,
        });

        // Atașează un eveniment pentru selecția datei
        $('#datepicker').datepicker().on('changeDate', function (e) {

            const selectedDate = e.date;

            {#selectedDate.setTime(selectedDate.getTime() + selectedDate.getTimezoneOffset() * 60 * 1000);#}
            {#selectedDate.setTime(selectedDate.getTime() + (60 * 60 * 1000));#}
            selectedDate.setDate(selectedDate.getDate() + 1);
            const year = selectedDate.getFullYear();
            const month = String(selectedDate.getMonth() + 1).padStart(2, '0');
            const day = String(selectedDate.getDate()).padStart(2, '0');
            const hours = String(selectedDate.getHours()).padStart(2, '0');
            const minutes = String(selectedDate.getMinutes()).padStart(2, '0');
            const formattedDate = `${year}-${month}-${day} ${hours}:${minutes}:00`;


            $.ajax({
                url: '/datepicker',
                type: 'POST',
                data: {selectedDate: formattedDate},

                success: function (response) {
                    if (response.disponibila) {
                        // Data este disponibilă, poți face ceva aici
                        console.log('Data este disponibilă');
                    } else {
                        // Data nu este disponibilă, poți face ceva aici
                        console.log('Data nu este disponibilă');
                    }
                },
                error: function (error) {
                    console.error('Eroare în timpul verificării disponibilității:', error);
                }
            });
        });


        $('#smartwizard').smartWizard({});

        $(document).ready(function () {


            function disable() {
                document.querySelector("#smartwizard > div.sw-toolbar-elm.toolbar.toolbar-bottom > button.btn.sw-btn-next.sw-btn").id = 'next'
                document.getElementById('next').classList.add('disabled')
            }

            disable();

            function checkURL() {
                var currentURL = window.location.href;
                if (currentURL.includes('#step-1')) {
                    step1();
                } else if (currentURL.includes('#step-2')) {
                    step2();
                } else if (currentURL.includes('#step-3')) {
                    step3();
                }
            }

            setInterval(checkURL, 1000);

            function step1() {
                var loginBtn = document.getElementById('login');
                loginBtn.addEventListener('click', function () {
                    var emailInput = document.getElementById("email");
                    var passwordInput = document.getElementById("password");

                    var email = emailInput.value;
                    var password = passwordInput.value;

                    var xhr = new XMLHttpRequest();
                    xhr.open("POST", "/client-login", true);
                    xhr.setRequestHeader("Content-Type", "application/json");

                    xhr.onreadystatechange = function () {
                        if (xhr.readyState === 4 && xhr.status === 200) {
                            // Răspunsul de la server (dacă este necesar)
                            var response = xhr.responseText;
                            const clientId = response.message;
                            localStorage.setItem('clientId', clientId);
                            showSuccessAlert();

                            {#$('#smartwizard').smartWizard("next");#}
                            setTimeout(() => {
                                document.getElementById('next').classList.remove('disabled')
                            }, 1000);

                        }
                    };

                    var data = {
                        email: email,
                        password: password
                    };

                    var jsonData = JSON.stringify(data);

                    xhr.send(jsonData);
                });

                function showSuccessAlert() {
                    var successAlert = document.getElementById('success-alert');
                    successAlert.style.display = 'block';

                    document.querySelector("#step-1 > div > form").hidden = true
                }
            }


            function step2() {
                var clickableElements = document.querySelectorAll('.clickable');
                const hasSelected = Array.from(clickableElements).some(element => element.classList.contains('selected'));
                hasSelected ? '' : disable();

                clickableElements.forEach(function (element) {
                    element.addEventListener('click', function () {
                        if (!element.classList.contains('selected')) {
                            clickableElements.forEach(function (otherElement) {
                                otherElement.classList.remove('selected');
                            });
                            element.classList.add('selected');
                            document.getElementById('next').classList.remove('disabled')
                        } else {
                            element.classList.remove('selected');
                            document.getElementById('next').classList.add('disabled')
                        }
                    });
                });
            }

            function step3() {
                const reservationItems = document.querySelectorAll('.reservation-item');

                reservationItems.forEach(item => {
                    item.addEventListener('click', () => {
                        reservationItems.forEach(otherItem => {
                            otherItem.classList.remove('reservation-item-selected');
                        });
                        item.classList.add('reservation-item-selected');
                    });
                });
            }


        });


    </script>


{% endblock %}
