{% extends "client/layout.html" %}

{% block content %}


    <div id="page-content">
        <!--Home slider-->
        <div class="slideshow slideshow-wrapper pb-section sliderFull">
            <div class="home-slideshow">
                <div class="slide">
                    <div class="blur-up lazyload bg-size">
                        <img class="blur-up lazyload bg-img"
                             data-src="{{ url_for('static', filename='client/assets/img/slideshow-banners/bg2.webp') }}"
                             src="{{ url_for('static', filename='client/assets/img/slideshow-banners/bg2.webp') }}"
                             alt="Aromaflames New Collection"
                             title="Aromaflames New Collection"/>

                        <div class="slideshow__text-wrap slideshow__overlay classic bottom">
                            <div class="slideshow__text-content bottom">
                                <div class="wrap-caption center">
                                    <h2 class="h1 mega-title slideshow__title">Locuri de joaca pentru copii</h2>
                                    <span class="mega-subtitle slideshow__subtitle">Descoperă colecția
                                            noastră</span>
                                    <span class="btn"
                                          onclick="window.open('/')">Exploareaza</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="blur-up lazyload bg-size">
                        <img class="blur-up lazyload bg-img"
                             data-src="{{ url_for('static', filename='client/assets/img/slideshow-banners/bg1.webp') }}"
                             src="{{ url_for('static', filename='client/assets/img/slideshow-banners/bg1.webp') }}"
                             alt="Aromaflames Collection"
                             title="Aromaflames Collection"/>


                        <div class="slideshow__text-wrap slideshow__overlay classic bottom">
                            <div class="slideshow__text-content bottom">
                                <div class="wrap-caption center">
                                    <h2 class="h1 mega-title slideshow__title">Locuri de joaca REALIZATE DIN LEMN ȘI
                                        METAL PENTRU SPAȚIILE PUBLICE</h2>
                                    <span class="mega-subtitle slideshow__subtitle">Descoperă colecția
                                            noastră</span>
                                    <span class="btn"
                                          onclick="window.open('/')">Exploareaza</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- latest product -->
        <div class="collection-box collection-box-style1 section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="section-header text-center">
                            <h2 class="h2">COLECTIILE NOASTRE </h2>
                            <p>Descoperă colecția noastră de locuri de joaca.</p>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                        <div class="collection-grid-item">
                            <a href="/" class="collection-grid-item__link">
                                <img data-src="{{ url_for('static', filename='client/assets/img/collection/1.webp') }}"
                                     src="{{ url_for('static', filename='client/assets/img/collection/1.webp') }}"
                                     alt="lumanari in recipient"
                                     class="blur-up lazyloaded">
                                <div class="collection-grid-item__title-wrapper">
                                    <h3 class="collection-grid-item__title btn btn--secondary no-border">Locuri de
                                        joaca</h3>
                                </div>
                            </a>
                        </div>

                    </div>
                    <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                        <div class="collection-grid-item">
                            <a href="/"
                               class="collection-grid-item__link">
                                <img data-src="{{ url_for('static', filename='client/assets/img/collection/2.webp') }}"
                                     src="{{ url_for('static', filename='client/assets/img/collection/2.webp') }}"
                                     alt="lumanari forma"
                                     class="blur-up ls-is-cached lazyloaded">
                                <div class="collection-grid-item__title-wrapper">
                                    <h3 class="collection-grid-item__title btn btn--secondary no-border">Case pe piloni
                                        pentru copii</h3>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                        <div class="collection-grid-item">
                            <a href="/" class="collection-grid-item__link">
                                <img data-src="{{ url_for('static', filename='client/assets/img/collection/3.webp') }}"
                                     src="{{ url_for('static', filename='client/assets/img/collection/3.webp') }}"
                                     alt="lumanari forma"
                                     class="blur-up ls-is-cached lazyloaded">
                                <div class="collection-grid-item__title-wrapper">
                                    <h3 class="collection-grid-item__title btn btn--secondary no-border">Leagăne
                                    </h3>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                        <div class="collection-grid-item">
                            <a href="/" class="collection-grid-item__link">
                                <img data-src="{{ url_for('static', filename='client/assets/img/collection/4.webp') }}"
                                     src="{{ url_for('static', filename='client/assets/img/collection/4.webp') }}"
                                     alt="lumanari forma"
                                     class="blur-up ls-is-cached lazyloaded">
                                <div class="collection-grid-item__title-wrapper">
                                    <h3 class="collection-grid-item__title btn btn--secondary no-border">Zona de fitness
                                        in aer liber
                                    </h3>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end latest product -->

        <!--  -->
        <!-- feature content -->
        <div class="section feature-content">
            <div class="container ">
                <div class="row">

                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="section-header text-center">
                            <h2 class="h2">Despre Kippa </h2>
                        </div>
                    </div>


                    <div class="feature-row ml-3 mr-3">
                        <div class="col-12 col-sm-12 col-md-6 feature-row__item">
                            <img src="{{ url_for('static', filename='client/assets/img/despre_af.webp') }}"
                                 alt="despre Aromaflames" title="despre Aromaflames">

                        </div>
                        <div
                                class="col-12 col-sm-12 col-md-6 feature-row__item feature-row__text feature-row__text--left text-left">
                            <div class="row-text">
                                <div class="rte-setting featured-row__subtext">
                                    <p>Kippa este o companie dedicată creării unor terenuri de joacă inovatoare și
                                        captivante pentru copii. Cu o echipă de specialiști în design și siguranță, ne
                                        străduim să aducem bucurie și aventură în viața copiilor prin intermediul
                                        terenurilor de joacă unice, care încurajează explorarea, creativitatea și
                                        interacțiunea socială. </p>
                                    <p>Fiecare teren de joacă creat de Kippa este conceput cu
                                        atenție la detalii și siguranță, oferind o experiență de neuitat pentru cei mici
                                        și liniște pentru părinți. Alegând Kippa, alegeți calitate, inovație și bucurie
                                        pentru copiii dumneavoastră.</p>
                                </div>
                                <a href="/" class="btn">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end feature content -->

        <!-- store feature -->
        <div class="store-feature section mb-4">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="section-header text-center">
                            <h2 class="h2">De ce sa alegi Kippa </h2>
                            <h3 class="h3">Terenurile de joaca din lemn au o serie de avantaje
comparativ cu complexele din metal sau plastic: </h3>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <ul class="display-table store-info">
                            <li class="display-table-cell">
                                <span class="sub-text">Copiii se pot juca pe teritoriul unui complex din lemn
in orice anotimp al anului, in timp ce locurile de
joaca cu baza metalica presupune gazduirea copiilor,
exclusiv, in perioada calda a anului;</span>
                            </li>
                            <li class="display-table-cell">
                                <span class="sub-text">Design interesant - castele, casute, corabioare, alte
inventii neobisnuite sunt posibile doar in cazul
complexelor de joaca din lemn, in cazul metalului,
originalitatea este minima;</span>
                            </li>
                            <li class="display-table-cell">
                                <span class="sub-text">Constructiile din lemn sunt usoare, nu apar
probleme in ceea ce tine de livrare si montarea
materialelor pentru asamblare, spre deosebire de
metal nu este nevoie de betonare de amploare;</span>
                            </li><li class="display-table-cell">
                                <span class="sub-text">Nivelul de securitate al complexelor din lemn este
mai mare decit al celor metalice, echipamentul este
prevazut cu minere fiabile si convenabile, puntile
cauciucate anti-alunecare, dotarea pieselor metalice
cu astfel de elemente este mai dificila;</span>
                            </li><li class="display-table-cell">
                                <span class="sub-text">Locul de joaca exterior din lemn este mai usor de
adaptat virstei copiilor, aveti posibilitatea de a alege
elemente cu diametru necesar, sa fixati scarile la
inaltime diferita, sa combinati elementele conform
preferintelor - de la scrincioburi si tobogane pina la
nisiparnita si echipamente sportive;</span>
                            </li><li class="display-table-cell">
                                <span class="sub-text">Baza din lemn a terenurilor de joaca este rezistenta
la fluctuatiile de temperatura, gratie unui strat
special de acoperire nu este supusa riscului de a
dezvolta ciuperca sau mucegai, in cazul metalului -
acesta este supus coroziunii.</span>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- end store feature -->


    </div>


{% endblock %}