{% extends "admin/base.html" %}
{% block title1 %}Appuntamenti{% endblock %}
{% block title %}Appuntamenti{% endblock %}

{% block style %}
    <style>
        tr[id] {
            cursor: pointer;
        }
    </style>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css"/>

{% endblock %}

{% block content %}


    <div class="col-lg-12 col-md-12 mb-md-0 mb-4">
        <div class="card">
            <div class="card-header pb-0">
                <div class="row">
                    <div class="col-lg-6 col-7">
                        <h6>Appuntamenti</h6>

                    </div>
                </div>
            </div>
            <div class="card-body ml-2 mr-2">
                <div class="table-responsive">
                    <table id="myTable" class="display compact">
                        <thead>
                        <tr>
                            <th>Data e Ora</th>
                            <th>Cliente</th>
                            <th>Servizio</th>
                            <th>Staff</th>
                            <th>Stato</th>
                            <th>Note</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for appointmet in appointmets %}
                            <tr id="{{ appointmet.id }}">
                                <td>
                                    <p>{{ appointmet.datetime }}</p>
                                </td>
                                <td>
                                    <p>{{ appointmet.customer.name }} {{ appointmet.customer.surname }}</p>
                                </td>
                                <td>
                                    <p>{{ appointmet.service.name }}</p>
                                </td>
                                <td>
                                    <p>{{ appointmet.idStaff }}</p>
                                </td>
                                <td>
                                    <p>{{ appointmet.state }}</p>
                                </td>
                                <td>
                                    <p>{{ appointmet.notes }}</p>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}



{% block scripts %}
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>

    <script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.print.min.js"></script>
    <script>

        $(document).ready(function () {
            $('#myTable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        const rows = document.querySelectorAll('tr[id]');

        // Adăugați un eveniment de clic pe fiecare rând
        rows.forEach(row => {
            row.addEventListener('click', () => {
                // Obțineți id-ul din atributul data-id
                const id = row.getAttribute('id');

                // Afișați id-ul folosind alert() sau în alt mod dorit
                alert(`ID: ${id}`);
            });
        });
    </script>
{% endblock %}