{% extends "admin/base.html" %}
{% block title1 %}Calendario{% endblock %}
{% block title %}Calendario{% endblock %}

{% block content %}


    <div class="row mb-12">
        <div class="col-lg-12 col-md-12 mb-md-0 mb-4">
            <div class="card">
                <div class="card-body px-0 pb-2">

                    <div id='calendar'></div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.5/index.global.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.5/locales/it.global.min.js'></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'timeGridWeek',
                locale: 'it',

                slotMinTime: '09:00',
                slotMaxTime: '18:00',

                eventClick: function (info) {
                    Swal.fire(
                        info.event.extendedProps.service,
                        info.event.extendedProps.notes,
                    );

                }

            });
            calendar.render();


            var appointments = [
                {% for appointment in appointmets %}


                    {
                        title: '{{ appointment.customer.name }} {{ appointment.customer.surname }}',
                        start: '{{ appointment.datetime }}',
                        end: new Date('{{ appointment.datetime  }}').setHours(new Date('{{ appointment.datetime  }}').getHours() + 1),
                        extendedProps: {
                            service: '{{ appointment.service.name }}',
                            notes: '{{ appointment.notes }}',
                        }
                    },
                {% endfor %}
            ];

// Adaugă evenimentul la calendar
            for (var i = 0; i < appointments.length; i++) {
                calendar.addEvent(appointments[i]);
            }

        });

    </script>


{% endblock %}